body {
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
    margin: 0;
    background-color: #eae1d6;
    color:#3b2a2a;
    font-size: 18px;
}

h1, h2, h3, ul, li, a {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

ul {
    list-style-type: none;
}

button {
    background-color: #a65e2e;
    color: #eae1d6;
    border: none;
    padding: 8px 16px;
    border-radius: 8px;
}

img {
    height: 200px;
    width: 200px;
    border: 5px solid #c8b09a;
    border-radius: 8px;
    object-fit: cover;
}

.main-content {
    background-color:#3b2a2a;
    min-width: 80vw;
    color: #eae1d6;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 1vh 10vw 10vh;
    gap: 10px;
}

.header {
    background-color: #3b2a2a;
    color: #eae1d6;
    flex-shrink: 0;
    flex-basis: 80vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.header-logo {
    font-size: 24px;
    font-weight: 900;
    padding: 12px;
}

.menu {
    display: flex;
    gap: 20px;
}

li > a {
    color: #eae1d6;
    font-size: 18px;
}

.text {
    flex: 1;
    padding: 12px;
}

.main-content > img {
    width: 450px;
    height: 250px;
}

.text {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: flex-start;
    justify-content: center;
}

.small-text {
    font-size: 10px;
}

.section-one > h2 {
    text-align: center;
    font-size: 36px;
    font-weight: 900;
    margin: 64px;
}

.image-list {
    display: flex;
    justify-content: center;
    gap: 64px;
    flex-wrap: wrap;
}

.image-card {
    display: flex;
    flex-direction: column;
    align-content: center;
    gap: 16px;
}

.image-text {
    text-align: center;
}

.section-one {
    margin-bottom: 64px;
}

.section-two {
    background-color: #c8b09a;
}

.quote {
    font-size: 36px;
    font-weight: 300;
    padding: 128px 128px 0;
}

.quote-by {
    font-weight: 900;
    text-align: right;
    padding: 0 128px 128px;
}

.sign-up {
    border-radius: 8px;
    background-color: #a65e2e;
    margin: 128px;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.call-to-action {
    font-size: 24px;
    font-weight: 900;
}

.sign-up > * {
    color: #eae1d6;
}

.sign-up > .text {
    max-width: 600px;
}

.sign-up > button {
    border: 1px solid #eae1d6;
    align-self: center;
}

.footer {
    font-size: 12px;
    padding: 12px;
    background-color: #3b2a2a;
    color: #eae1d6;
    text-align: center;
}