body {
    font-family: 'Times New Roman', serif;
    min-height: 100vh;
    margin: 0;
    color:#2f3e46;
}

h1, h2, h3, ul, li, a {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

ul {
    list-style-type: none;
}

button {
    background-color: #bc6c25;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 8px;
}

img {
    height: 150px;
    width: 150px;
    border: 5px solid #bc6c25;
    border-radius: 8px;
}

.main-content {
    background-color:#2f3e46;
    min-width: 80vw;
    color: white;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 1vh 10vw 10vh;
    gap: 10px;
}

.main-content > * {
    border: 1px solid red;
}

.header {
    background-color: #2f3e46;
    color: white;
    flex-shrink: 0;
    flex-basis: 80vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.header-logo {
    font-size: 24px;
    font-weight: 900;
    padding: 12px;
}

.menu {
    padding: 12px;
    display: flex;
    gap: 8px;
}

li > a {
    color: white;
    font-size: 18px;
}

.text {
    flex: 1;
    padding: 12px;
}

.main-content > img {
    width: 400px;
    height: 150px;
    border: 1px solid red;
}

.text {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items:flex-start;
}

.section-one > h2 {
    text-align: center;
    font-size: 36px;
    font-weight: 900;
    margin: 64px;
}

.image-list {
    display: flex;
    justify-content: center;
    gap: 64px;
}

.image-card {
    display: flex;
    flex-direction: column;
    align-content: center;
    max-width: 150px;
}

.image-text {
    text-align: center;
}

.section-one {
    margin-bottom: 64px;
}
